.skill-logo{
    margin: auto;
    width: 4rem;
}
.css-g{
    width: 5rem!important;
}
.node-g{
    width: 7rem!important;
}
.figma-g{
    width: 2.5rem!important;
}
.firebase-g{
    width: 8rem!important;
}
.mongodb-g{
    width: 8rem!important;
}
.swiperJs-g{
    width: 3.5rem!important;
}
.expressJs-g{
    width: 7rem!important;
}