

.marquee-logo img {
    margin: auto;
    width: 130px;
}
.viveFitness{
    width: 120px!important;
}
.theFundSociety{
    width: 150px!important;
}
.marlonNikolai{
    width: 50px!important;
}
.dorfladen{
    width: 60px!important;
}
.dulhan{
    width: 80px!important;
}
.greenlife{
    width: 100px!important;
}
.herbsWorld{
    width: 230px!important;
}
.mundgefuhl{
    width:150px!important;
}