@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: graphik;
  src: url(../public/Graphik-Regular-Trial.otf);
}
.img-shadow {
  box-shadow: 0 100px 80px rgba(0, 0, 0, .07), 0 65px 47px rgba(0, 0, 0, .05), 0 38px 25px rgba(0, 0, 0, .04), 0 20px 13px rgba(0, 0, 0, .04), 6px 6px 6px rgba(0, 0, 0, .03), 1px 1px 3px rgba(0, 0, 0, .02);
}
:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  /* --swiper-theme-color: #ffff00!important; */
  /* --swiper-navigation-size: 30px!important; */


}
/* .swiper-pagination-bullet{
  background-color: black!important;

} */
/* .swiper-pagination-bullet-active{
  background-color: #ffff00!important;
} */
.scrollFade {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}

.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--animate {
  transition: opacity 1.2s ease-in-out;
}
