.buyMeCoffee {
  border: 0 !important;
}
.custom-btn {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* 14 */
.social-btn {
  background: transparent;
  border: 1px solid white;
  z-index: 1;
}
.social-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  color: black;
  background-color: yellow;
  transition: all 0.3s ease;
}
.social-btn:hover svg path {
  fill: #000;
}
.social-btn:hover {
  color: #000;
  border: 1px solid yellow;
}
.social-btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
  border: 1px solid yellow;
}
.social-btn:active {
  top: 2px;
}
